@use "./abstracts/index" as *;

.about-sec {
  z-index: $z-section;
  position: relative;
  padding-bottom: 8vh;
  width: 100%;
  height: 100%;
  background-color: var(--lightColor);
  overflow: hidden;

  .slide-tit-wrap {
    margin: 24vh 0 8vh;
  }

  .txt-sec {
    z-index: $z-plus;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // height: 100dvh;

    .txt {
      opacity: 1;
      color: var(--darkColor);
      font-size: 5.6rem;
    }
  }

  .about-con {
    display: flex;
    justify-content: space-between;

    .detail-wrap {
      z-index: $z-canvas-z;
      position: relative;
      width: 40%;
      height: 100vh;
      // height: 100dvh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-wrap {
      z-index: $z-canvas-z;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 8vh;
      width: 60%;
      height: 100vh;
      // height: 100dvh;

      .txt-list {
        line-height: 3.2rem;
      }
    }
  }
}

// 반응형

@media (max-width: 1023px) {
  .about-sec {
    .slide-tit-wrap {
      margin: 16vh 0 8vh;
    }
    .about-con {
      flex-wrap: wrap;
      flex-direction: column-reverse;

      .detail-wrap {
        width: 100%;
      }

      .txt-wrap {
        margin: 8vh 0 0;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .about-sec {
    .slide-tit-wrap {
      margin: 8vh 0 4vh;
    }

    .about-con {

      .detail-wrap {
        height: 60vh;
      }
    }
  } 
}