:root {
  // z-index
  --under-z: 9;
  --canvas-z: 10;
  --section-z: 11;
  --front-z: 999;
  --skip-z: 9999;

  // color
  --darkColor: #121315 !important;
  --lightColor: #fff !important;
  --brightDark: #252525 !important;
  --brightLight: #eee !important;
}

body {
  scroll-behavior: auto;
  cursor: none;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

a,
button {
  cursor: none;
}

p {
  font-size: 16px;
  word-break: keep-all;
}

// 스킵링크
.skip-link {
  position: absolute;
  top: -4rem;
  left: 0;
  padding: 0.8rem 1.6rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  background: #000;
  color: #fff;
  z-index: var(--skip-z);

  &:focus,
  &:focus-visible {
    top: 0;
    outline: 2px solid red;
    outline-offset: 2px;
  }
}

// 스크린 리더
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pc-only {
  display: block;
}

// 스크롤 모션
.scroll-motion {
  opacity: 0;
  transform: translateY(10rem);
  transition: opacity .6s ease, transform .6s ease;
}


// dark mode start

body.tr-dark .transition-cover {
  background: var(--brightLight);
}

body.tr-dark header .hamburger .bar {
  background: var(--lightColor);
}

body.tr-dark {
  background-color: var(--darkColor) !important;
  transition: background-color .6s ease;
}

body.tr-dark .logo {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .visual-sec {
  background-color: var(--darkColor) !important;
}

body.tr-dark .visual-sec .txt-wrap-area .txt-wrap .visual-txt {
  color: var(--lightColor) !important;
  transition: color .6s ease;
}

body.tr-dark .visual-sec .scroll-down {
  color: var(--lightColor) !important;
  transition: color .6s ease;
}

body.tr-dark .work-sec {
  background-color: var(--darkColor) !important;
  transition: background-color .6s ease;
}

body.tr-dark .slide-tit-wrap .slide-tit {
  background: linear-gradient(90deg, var(--brightLight) 50%, var(--brightDark) 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  background-size: 200% 100%;
}

body.tr-dark .work-sec .work-list-wrap .work-list .detail .title {
  background: linear-gradient(180deg, var(--brightLight) 50%, var(--brightDark) 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: -100%;
  background-size: 100% 200%;
  transition: background-position .6s ease;
}

body.tr-dark .work-sec .work-list-wrap .work-list .content-wrap .info .detail .title-wrap .description {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-sec .work-list-wrap .work-list .content-wrap .info .detail .title-wrap .title-num {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-sec .work-list-wrap .work-list {
  background: var(--darkColor);
  border-top: 1px solid var(--lightColor);
  transition: background-color .6s ease, border .6s ease;
}

body.tr-dark .tag-wrap .tag {
  color: var(--lightColor);
  border: 1px solid var(--lightColor);
  transition: all .6s ease;
}

body.tr-dark .about-sec {
  background-color: var(--darkColor);
  transition: background-color .6s ease;
}

body.tr-dark .work-container .work-head .head-tit {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .work-head .head-txt {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .work-head .head-txt a {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .content-wrap .about-project .tit-wrap .tit {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .content-wrap .about-project .tit-wrap .info .info-head p {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .content-wrap .about-project .tit-wrap .info .info-body .txt {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .uiux-wrap .slide-tit-wrap .sub-tit {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .content-wrap .visual-wrap .video-con {
  border: 3px solid var(--lightColor);
}

body.tr-dark .about-sec .about-con .txt-wrap .txt-list {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark .work-container .next-work .inner button .arrow {
  border: 2px solid var(--lightColor);
  transition: all .6s ease;
}

body.tr-dark footer .contact-wrap .contact-txt {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-dark footer .contact-wrap .contact-info a {
  color: var(--lightColor);
  transition: color .6s ease;
}

// dark mode end ----------------------------

// light mode start -------------------------

body.tr-light .transition-cover {
  background: var(--darkColor);
}

body.tr-light header .hamburger .bar {
  background: var(--darkColor);
}

body.tr-light {
  background-color: var(--lightColor) !important;
  transition: background-color .6s ease;
}

body.tr-light .logo {
  color: var(--lightColor);
  transition: color .6s ease;
}


body.tr-light .visual-sec {
  background-color: var(--lightColor) !important;
}

body.tr-light .visual-sec .txt-wrap-area .txt-wrap .visual-txt {
  color: var(--darkColor) !important;
  transition: color .6s ease;
}

body.tr-light .visual-sec .scroll-down {
  color: var(--darkColor) !important;
  transition: color .6s ease;
}

body.tr-light .work-sec {
  background-color: var(--lightColor) !important;
  transition: background-color .6s ease;
}

body.tr-light .slide-tit-wrap .slide-tit {
  background: linear-gradient(90deg, var(--brightDark) 50%, var(--brightLight) 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  background-size: 200% 100%;
}

body.tr-light .work-sec .work-list-wrap .work-list .detail .title {
  background: linear-gradient(180deg, var(--brightDark) 50%, var(--brightLight) 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: -100%;
  background-size: 100% 200%;
  transition: background-position .6s ease;
}

body.tr-light .work-sec .work-list-wrap .work-list .content-wrap .info .detail .title-wrap .description {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-sec .work-list-wrap .work-list .content-wrap .info .detail .title-wrap .title-num {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-sec .work-list-wrap .work-list {
  background: var(--lightColor);
  border-top: 1px solid var(--darkColor);
  transition: background-color .6s ease, border .6s ease;
}

body.tr-light .tag-wrap .tag {
  color: var(--darkColor);
  border: 1px solid var(--darkColor);
  transition: all .6s ease;
}

body.tr-light .about-sec {
  background-color: var(--lightColor);
  transition: background-color .6s ease;
}

body.tr-light .work-container .work-head .head-tit {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .work-head .head-txt {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .work-head .head-txt a {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .content-wrap .about-project .tit-wrap .tit {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .content-wrap .about-project .tit-wrap .info .info-head p {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .content-wrap .about-project .tit-wrap .info .info-body .txt {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .uiux-wrap .slide-tit-wrap .sub-tit {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .content-wrap .visual-wrap .video-con {
  border: 3px solid var(--darkColor);
}

body.tr-light .about-sec .about-con .txt-wrap .txt-list {
  color: var(--darkColor);
  transition: color .6s ease;
}

body.tr-light .work-container .next-work .inner button .arrow {
  border: 2px solid var(--darkColor);
  transition: all .6s ease;
}

body.tr-light footer .contact-wrap .contact-txt {
  color: var(--lightColor);
  transition: color .6s ease;
}

body.tr-light footer .contact-wrap .contact-info a {
  color: var(--lightColor);
  transition: color .6s ease;
}


section {
  position: relative;
  width: 100%;
}

.inner {
  position: relative;
  padding: 0 8vh;
}

.tag-wrap {
  margin-top: 2.4rem;
  min-height: 2.4rem;
  line-height: 2.4rem;

  .tag {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1.6rem;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--darkColor);
    border: 1px solid var(--darkColor);
    transition: color .6s ease;

    &+.tag {
      margin-left: .8rem;
    }

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--darkColor);
      transition: all .6s ease;
    }
  }
}

.slide-tit-wrap {
  z-index: var(--section-z);
  margin: 8vh 0;

  .slide-tit {
    font-size: clamp(8rem, 10vw, 24rem);
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, var(--darkColor) 50%, #eee 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position-x: 100%;
    background-size: 200% 100%;

    &.left {
      transform: translateX(-10rem);
    }

    &.right {
      transform: translateX(10rem)
    }

    &.center {
      text-align: center;
    }
  }
}

// fixed cover(워크 이동)
.transition-cover {
  z-index: 999;
  position: fixed;
  top: 100%;
  left: 0;
  transform: translateX(0);
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  transform: scale(1);
}

.cursor {
  position: fixed;
  z-index: 9999999;
  transform: translate(-50%, -50%);
  transition: transform .3s ease;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-weight: 700;
  border-radius: 50%;
  background: var(--lightColor);
  pointer-events: none;

  .click {
    font-size: .8rem;
    opacity: 0;
    transition: opacity .3s ease;
  }
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(2.5);
  transition: transform 0.3s ease;

  .click {
    opacity: 1;
    transition: opacity .3s ease;
  }
}

// 반응형

@media (max-width: 1023px) {

  .cursor {
    display: none;
  }

  .inner {
    padding: 0 4vh;
  }

  .slide-tit-wrap {
    margin: 4vh 0;

    .slide-tit {
      font-size: clamp(4rem, 10vw, 8rem);

      &.left {
        transform: translateX(-5rem);
      }

      &.right {
        transform: translateX(5rem)
      }
    }
  }

  body.tr-light {
    .logo {
      color: var(--darkColor);
    }
  }

}

@media (max-width: 767px) {

  .transition-cover {
    width: 200%;
    left: -50%;
  }

  .pc-only {
    display: none;
  }

  .cursor {
    display: none;
  }

  .slide-tit-wrap {
    margin: 4vh 0;

    .slide-tit {
      font-size: clamp(4rem, 10vw, 8rem);

      &.left {
        transform: translateX(-3rem);
      }

      &.right {
        transform: translateX(3rem)
      }
    }
  }

  body.tr-dark {
    footer {
      .contact-wrap {
        .contact-info {
          a {
            color: var(--lightColor);
          }
        }
      }
    }
  }

}

@media (max-width: 479px) {

  body.tr-light .logo {
    color: var(--darkColor);
  }
}