footer {
  z-index: var(--section-z);
  position: relative;
  height: 100vh;
  // mix-blend-mode: difference;

  .torus-wrap {
    z-index: var(--canvas-z);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .contact-wrap {
    z-index: var(--section-z);
    position: absolute;
    bottom: 8vh;
    right: 8vh;

    .contact-info {
      margin-top: 3.2rem;
      justify-self: flex-end;
      .phone-num {
        font-size: 2.4rem;
      }
      .email {
        margin-top: 1.6rem;
        font-size: 2.4rem;
      }
    }
  }
}