header {
  z-index: var(--front-z);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  mix-blend-mode: difference;
  
  .logo-icon {
    position: absolute;
    top: 50%;
    left: 8vh;
    transform: translateY(-50%);
    .logo {
      font-size: 1.8rem;
      background: none;
      border: none;
    }
  }

  .utils {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 3.2rem;

    .light-mode {
      width: 100%;
      height: 100%;
      border: none;
      
      &.tr-light {
        background: url("/assets/images/icon-light-mode.svg") no-repeat center / cover;
      }
      
      &.tr-dark {
        background: url("/assets/images/icon-dark-mode.svg") no-repeat center / cover;
      }
    }

  }
  
  .nav {
    position: absolute;
    right: 8vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vh;
    height: 100%;
    li {
      font-size: 1.6rem;
      a {
        color: var(--lightColor);
      }
    }
  }
}