@use "./abstracts/index" as *;

.visual-sec {
  position: relative;
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
  border: 0;

  .scroll-down {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 10rem);
    font-family: "Unbounded", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    opacity: 0;
  }

  // canvas
  .canvas-image-wrap {
    z-index: $z-canvas-z;
    position: fixed;
    top: 0;
    opacity: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(10rem);
    background: transparent;

    canvas {
      position: relative;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  .txt-wrap-area {
    z-index: $z-section;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .txt-wrap {
      position: absolute;
      top: 10vh;
      left: 8vh;
      display: flex;
      opacity: 1;
      mix-blend-mode: difference;

      &.under {
        top: unset;
        left: unset;
        right: 8vh;
        bottom: 0;
      }

      &.center {
        top: 50%;
        left: 50%;
        right: unset;
        bottom: unset;
        transform: translate(-50%, -50%);
      }

      &.second {
        top: 30vh;
        left: unset;
        right: 8vh;
      }

      .visual-txt {
        font-size: 10vw;
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        transform: translateY(10rem);
        opacity: 0;
        color: var(--darkColor);

        &.motion-txt-wrap {
          overflow: hidden;
          display: flex;

          .motion-txt {
            font-size: 15vw;
            font-style: normal;
            color: #eee;
          }
        }
      }
    }
  }

  .flow-txt-wrap {
    z-index: $z-section;
    position: relative;
    width: 100%;
    mix-blend-mode: difference;

    .flow-txt {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      color: var(--lightColor);

      .txt {
        opacity: 0;
        transform: translateY(10rem);
        width: 16%;
        line-height: 3.2rem;
        text-align: center;

        .sub-tit {
          display: block;
          font-size: 2.4rem;
          margin-bottom: 1.6rem;
        }

        .strong {
          font-size: 2rem;
        }
      }

      &.show {
        .txt {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .bg-txt {
        position: absolute;
        font-size: 3.2rem;
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        opacity: 0;

        &.left-bg {
          left: 8vh;
          top: 30%;
          transform: translateY(-50%);
        }

        &.right-bg {
          right: 8vh;
          bottom: 30%;
          transform: translateY(50%);
        }
      }

    }
  }

  .flow-area {
    position: relative;
    width: 100%;

    .circle {
      z-index: $z-section;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background: #130F12;
      opacity: 0;
    }
  }

}

@media (max-width: 1920px) {
  .visual-sec {
    .flow-txt-wrap {
      .flow-txt {
        .txt {
          width: 24%;
        }
      }
    }
  }
}


@media (max-width: 1440px) {
  .visual-sec {
    .flow-txt-wrap {
      .flow-txt {
        .txt {
          width: 24%;
        }

        .bg-txt {
          &.left-bg {
            left: 30%;
            top: 10dvh;
            top: 10vh;
            transform: translate(-50%, 0);
          }

          &.right-bg {
            right: 30%;
            bottom: 10dvh;
            bottom: 10vh;
            transform: translate(50%, 0);
          }
        }
      }
    }
  }
}

// 반응형

@media (max-width: 1023px) {
  .visual-sec {
    .scroll-down {
      top: 50%;
    }

    .flow-txt-wrap {
      .flow-txt {
        .txt {
          width: 40%;
        }
      }
    }

    .txt-wrap-area {
      .txt-wrap {
        &.second {
          top: 24vh;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .visual-sec {

    .scroll-down {
      top: 50%;
    }
    .flow-txt-wrap {
      .flow-txt {
        .txt {
          width: 50%;
        }
      }
    }

    .txt-wrap-area {
      .txt-wrap {
        left: 4vh;

        &.second {
          top: 20vh;
          right: 4vh;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .visual-sec {
    .scroll-down {
      top: 40%;
    }
  
    .flow-txt-wrap {
      .flow-txt {
        .txt {
          width: 50%;
        }
      }
    }
  }
}