.work-sec {
  z-index: var(--section-z);
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--lightColor);
  overflow: hidden;

  .work-list-wrap {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 64px;

    .work-list {
      .content-wrap {
        position: relative;
        aspect-ratio: 4 / 3;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0);
          transition: background-color .3s ease;
        }

        &:hover {

          &::after {
            background: rgba(0, 0, 0, .6);
            transition: background-color .3s ease;
          }

          .thumbnail {
            transform: scale(1.1);
            transition: transform .6s ease;
          }
        }

        .thumbnail {
          transform: scale(1);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform .6s ease;
        }
      }

      .awards {
        z-index: var(--front-z);
        position: absolute;
        top: 0;
        left: 0;
        width: 67px;
        height: 103px;
        border: 1px solid var(--lightColor);
      }

      .detail {
        .title {
          margin-top: 32px;
          font-size: 32px;
          font-weight: 500;
          color: var(--darkColor);
        }

        &.active {
          .tag-wrap {
            .tag {
              color: var(--lightColor);
              transition: color .6s ease;

              &::before {
                top: 0;
                transition: top .6s ease;
              }
            }
          }
        }

      }
    }
  }
}