.work-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  .work-head {
    margin: 128px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    .head-tit {
      font-size: 16px;
      color: var(--darkColor);
    }

    .head-txt {
      margin-top: 16px;
      font-size: 24px;
      color: var(--darkColor);
    }
  }

  .content-wrap {
    .visual-wrap {
      position: relative;
      overflow: hidden;
      width: 100%;

      .video-con {
        width: 100%;
        height: 100%;
        border: 3px solid var(--darkColor);
        border-radius: 30px;
        overflow: hidden;

        video {
          display: block;
          margin-top: -1px;
          width: calc(100% + 2px);
          height: 100%;
          object-fit: cover;
        }
      }

      .scroll {
        margin: 2vh 0;
        text-align: center;
      }

      .img-con {
        position: relative;
        width: 100%;
        height: 80vh;
        border: 3px solid var(--darkColor);
        border-radius: 30px;
        overflow: hidden;

        .scroll-wrap {
          position: relative;
          width: 100%;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          // mix-blend-mode: difference;

          &::-webkit-scrollbar {
            display: none;
          }
          
          
          img {
            display: block;
            margin-top: -1px;
            width: calc(100% + 2px);
            height: auto !important;
            object-fit: cover;
          }
        }
      }

      .fake-bg {
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    }

    .about-project {
      .tit-wrap {
        margin: 16vh 0;
        display: flex;

        .tit {
          font-family: "Unbounded", sans-serif;
          font-size: 32px;
          color: var(--darkColor);
        }

        .info {
          margin-left: 10vw;

          .info-head {
            p {
              font-size: 24px;
              line-height: 32px;
              color: var(--darkColor);
            }
          }

          .info-body {
            margin-top: 24px;

            .txt {
              color: var(--darkColor);
              &+.txt {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }

  .uiux-wrap {
    .slide-tit-wrap {
      position: relative;

      .sub-tit {
        position: absolute;
        top: 50%;
        right: 8vh;
        transform: translateY(-50%);
        font-size: 24px;
        color: var(--darkColor);
      }
    }
  }

  .next-work {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      button {
        border: none;
        background: none;
      }
    }
  }
}