@use "./abstracts/index" as *;

.work-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  .inner {
    .slide-tit-wrap {
      margin: 12vh 0 8vh;
    }
  }

  .work-head {
    margin: 12.8rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    .head-tit {
      font-size: 1.6rem;
      color: var(--darkColor);
    }

    .head-txt {
      margin-top: 1.6rem;
      word-break: break-all;
      color: var(--darkColor);

      a {
        font-size: 2.4rem;
      }
    }
  }

  .content-wrap {
    .visual-wrap {
      position: relative;
      overflow: hidden;
      height: 100vh;
      width: 100%;

      .video-con {
        width: 100%;
        height: 100%;
        border: 3px solid var(--darkColor);
        border-radius: 3rem;
        overflow: hidden;

        video {
          display: block;
          margin-top: -1px;
          width: calc(100% + 2px);
          height: 100%;
          object-fit: cover;
        }
      }

      .scroll {
        margin: 2vh 0;
        text-align: center;
      }

      .img-con {
        position: relative;
        width: 100%;
        height: 80vh;
        border: 3px solid var(--darkColor);
        border-radius: 3rem;
        overflow: hidden;

        .scroll-wrap {
          position: relative;
          width: 100%;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            display: none;
          }


          img {
            display: block;
            margin-top: -1px;
            width: calc(100% + 2px);
            height: auto !important;
            object-fit: cover;
          }
        }
      }

      .fake-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 150%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

    }

    .about-project {
      .tit-wrap {
        margin: 16vh 0;
        display: flex;

        .tit {
          font-family: "Unbounded", sans-serif;
          font-size: 3.2rem;
          color: var(--darkColor);
        }

        .info {
          margin-left: 10vw;

          .info-head {
            p {
              font-size: 2.4rem;
              line-height: 3.2rem;
              color: var(--darkColor);
            }
          }

          .info-body {
            margin-top: 2.4rem;

            .txt {
              color: var(--darkColor);

              &+.txt {
                margin-top: .8rem;
              }
            }
          }
        }
      }
    }
  }

  .uiux-wrap {
    .video-con {
      width: 100%;
      height: 100%;
      border: 3px solid var(--darkColor);
      border-radius: 3rem;
      overflow: hidden;

      video {
        display: block;
        margin-top: -1px;
        width: calc(100% + 2px);
        height: 100%;
        object-fit: cover;
      }
    }

    .scroll {
      margin: 2vh 0;
      text-align: center;
    }

    .img-con {
      position: relative;
      width: 100%;
      height: 80vh;
      border: 3px solid var(--darkColor);
      border-radius: 3rem;
      overflow: hidden;

      .scroll-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        // mix-blend-mode: difference;

        &::-webkit-scrollbar {
          display: none;
        }


        img {
          display: block;
          margin-top: -1px;
          width: calc(100% + 2px);
          height: auto !important;
          object-fit: cover;
        }
      }
    }

    .slide-tit-wrap {
      position: relative;

      .sub-tit {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 1.6rem;
        color: var(--darkColor);
      }
    }
  }

  .next-work {
    width: 100%;
    height: 100vh;
    // height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
      .next-work-btn {
        border: 0;
        background: none;

        .arrow {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 16rem;
          height: 16rem;
          border-radius: 50%;
          transform: translateY(0) rotate(0);
          transition: all .6s ease;
        }

        &:hover {
          .arrow {
            transform: translateY(-5rem) rotate(90deg);
            transition: all .6s ease;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .work-container {
    .work-head {
      margin: 0 0 8vh;
    }
  }
}

@media (max-width: 767px) {
  .work-container {
    .content-wrap {

      .about-project {
        .title-wrap {
          margin: 8vh 0;
        }
      }

      .visual-wrap {
        height: 50vh;
        .fake-bg {
          height: 100%;
        }
        .img-con {
          height: 50vh;
        }
      }
    }

    .work-head {
      grid-template-columns: repeat(1, 1fr);

      .head-tit {
        font-size: 2.4rem;
        font-weight: 500;
      }

      .head-txt {
        margin-top: 1.6rem;

        a {
          font-size: 1.6rem;
        }
      }

      li {
        &+li {
          margin-top: 1.6rem;
        }
      }
    }

    .uiux-wrap {
      .slide-tit-wrap {
        .sub-tit {
          position: unset;
          margin-top: 4vh;
        }
      }
      .img-con {
        height: 50vh;
      }
    }

    .next-work {
      .inner {
        .next-work-btn {
          .arrow {
            transform: translateY(0) rotate(90deg);
            width: 8rem;
            height: 8rem;

            svg {
              width: 40%;
            }
          }

          &:hover {
            .arrow {
              transform: translateY(0) rotate(90deg);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .work-container {
    .content-wrap {
      .about-project {
        .tit-wrap {
          margin: 8vh 0;
          flex-direction: column;

          .info {
            margin: 4vh 0 0;

            .info-head {
              p {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .next-work {
      height: 50vh;
    }
  }
}