html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, a {
  display: block;
}

body {
  line-height: 1;
  font-family: "Pretendard";
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-display: swap;
}
:root {
  --under-z: 9;
  --canvas-z: 10;
  --section-z: 11;
}

.ft-bebas {
  font-family: var(--font-bebas);
}

section {
  position: relative;
  width: 100%;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.intro-sec {
  z-index: 999;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro-sec .intro-txt-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
}
.intro-sec .intro-txt-con .intro-txt-wrap {
  transform: translateY(100%);
}
.intro-sec .intro-txt-con .intro-txt-wrap .intro-txt {
  font-size: 50px;
  color: #fff;
}

.intro-piano-wrap {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.intro-piano-wrap .intro-piano {
  width: 20%;
  height: 100%;
  background: #000;
}

.logo-loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.logo-loading .loading-txt {
  position: relative;
  font-size: 4vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  overflow: hidden;
}
.logo-loading .loading-txt::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
  -webkit-background-clip: text;
  transition: background-position 2s ease;
}
.logo-loading .loading-txt.active::after {
  background-position: 0 0;
}

.intro-area {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.intro-area .intro-img-wrap {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
}
.intro-area .intro-img-wrap .img-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-area .intro-img-wrap .img-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
}
.intro-area .intro-img-wrap:nth-child(1) {
  top: calc(50% - 150px - 40px);
  left: calc(50% - 150px - 40px);
}
.intro-area .intro-img-wrap:nth-child(2) {
  top: calc(50% - 150px - 40px);
}
.intro-area .intro-img-wrap:nth-child(3) {
  top: calc(50% - 150px - 40px);
  left: calc(50% + 150px + 40px);
}
.intro-area .intro-img-wrap:nth-child(4) {
  left: calc(50% - 150px - 40px);
}
.intro-area .intro-img-wrap:nth-child(5) {
  z-index: 2;
}
.intro-area .intro-img-wrap:nth-child(5)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #000;
  transition: 0.6s ease;
}
.intro-area .intro-img-wrap:nth-child(5).active::after {
  height: 100%;
  transition: 0.6s ease;
}
.intro-area .intro-img-wrap:nth-child(6) {
  left: calc(50% + 150px + 40px);
}
.intro-area .intro-img-wrap:nth-child(7) {
  top: calc(50% + 150px + 40px);
  left: calc(50% - 150px - 40px);
}
.intro-area .intro-img-wrap:nth-child(8) {
  top: calc(50% + 150px + 40px);
}
.intro-area .intro-img-wrap:nth-child(9) {
  top: calc(50% + 150px + 40px);
  left: calc(50% + 150px + 40px);
}

.bg-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url(/assets/images/bg-noise.jpg) no-repeat 0/cover;
}

.wide-circle {
  opacity: 0;
  z-index: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
}

.visual-section {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  border: none;
}
.visual-section .canvas-image-wrap {
  z-index: var(--canvas-z);
  position: fixed;
  top: 0;
  opacity: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(100px);
  background: transparent;
}
.visual-section .canvas-image-wrap canvas {
  position: relative;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual-section .txt-wrap-area {
  z-index: var(--section-z);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.visual-section .txt-wrap-area .txt-wrap {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  opacity: 1;
  mix-blend-mode: difference;
}
.visual-section .txt-wrap-area .txt-wrap.under {
  top: unset;
  left: unset;
  right: 30px;
  bottom: 0;
}
.visual-section .txt-wrap-area .txt-wrap.center {
  top: 50%;
  left: 50%;
  right: unset;
  bottom: unset;
  transform: translate(-50%, -50%);
}
.visual-section .txt-wrap-area .txt-wrap.second {
  top: 23vh;
  left: unset;
  right: 1vw;
}
.visual-section .txt-wrap-area .txt-wrap .visual-txt {
  font-size: 12.5vw;
  font-weight: 400;
  transform: translateY(100px);
  opacity: 0;
  color: #000;
}
.visual-section .txt-wrap-area .txt-wrap .visual-txt.motion-txt-wrap {
  overflow: hidden;
  display: flex;
}
.visual-section .txt-wrap-area .txt-wrap .visual-txt.motion-txt-wrap .motion-txt {
  font-size: 15vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eee;
}
.visual-section .flow-txt-wrap {
  z-index: var(--section-z);
  position: relative;
  width: 100%;
}
.visual-section .flow-txt-wrap .flow-txt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 50px;
  color: #000;
}
.visual-section .flow-txt-wrap .flow-txt .txt {
  margin-right: 10vw;
  width: 50%;
  mix-blend-mode: lighten;
}
.visual-section .flow-area {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}
.visual-section .flow-area .circle {
  z-index: var(--section-z);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #130F12;
  opacity: 0;
}
.visual-section .scroll-down {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
}

.about-sec {
  z-index: var(--section-z);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.about-sec .txt-sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.about-sec .txt-sec .txt {
  opacity: 0;
  color: #000;
  font-size: 50px;
}
.about-sec .fluid-wrap {
  width: 100%;
  height: 100vh;
}
.about-sec .txt-wrap {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
}
.about-sec .txt-wrap .txt-list {
  text-align: center;
  font-size: 50px;
  color: #000;
}

.work-sec {
  z-index: var(--section-z);
  position: relative;
  display: flex;
  padding: 5vw 6vh;
  width: 100%;
  background: #fff;
}
.work-sec .work-tit-wrap {
  z-index: var(--section-z);
  display: flex;
  justify-content: flex-start;
  width: 30%;
  mix-blend-mode: difference;
}
.work-sec .work-tit-wrap.fixed {
  position: fixed;
}
.work-sec .work-tit-wrap .work-tit {
  opacity: 0;
  transform: translateY(100px);
  text-align: center;
  color: #fff;
}
.work-sec .work-list-wrap {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 100%;
  border: 1px solid red;
}
.work-sec .work-list-wrap .work-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  opacity: 0;
  transform: translateY(100px);
}
.work-sec .work-list-wrap .work-list + .work-list {
  margin-top: 100px;
}
.work-sec .work-list-wrap .work-list .work-num {
  margin-bottom: 30px;
  font-size: 14px;
  color: #fff;
}
.work-sec .work-list-wrap .work-list .work-list-tit {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}
.work-sec .work-list-wrap .work-list .content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.work-sec .work-list-wrap .work-list .content-wrap:hover img {
  transition: transform 0.6s ease;
}
.work-sec .work-list-wrap .work-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.6s ease;
}/*# sourceMappingURL=main.css.map */